:root {
  --one-dark-gray: #282c34;
  --one-dark-black: #151819;
  --one-dark-red: #e06c74;
  --one-dark-green: #98c379;
  --one-dark-yellow: #e5c07b;
  --one-dark-blue: #61afef;
  --one-dark-magenta: #c678dd;
  --one-dark-light-blue: #56b6c2;
  --one-dark-white: #abb2bf;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--one-dark-black);
  color: var(--one-dark-white);
}
