.todo-item {
  margin: 0.5rem 2.25rem;
  border-radius: 1rem;
}

.todo-item__content {
  padding: 0.5rem 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--one-dark-blue);
  color: var(--one-dark-gray);
}
